
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Select</title>
{% endblock title %}

{% block content %}

     {% comment %} <div class="image">
        <img src="{% static 'back.jpg'%}" >
    </div>   {% endcomment %}
    <div class="container text-center">
    </br>
        <h2><div class="text-center heading">Movie Database Management System</div><h2><br>
        <form method="POST" class="text-center">
            {% csrf_token %}
            <a class="btn btn-secondary" href="{% url 'login' %}" role="button">Admin</a>
            <a class="btn btn-secondary" href="{% url 'index' %}" role="button">User</a>

        </form>
    </div>
   
{% endblock content %}

