
{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
    <div class="container text-center">
    </br>
        <h2><div>Login</div></h2><br>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name ="name" placeholder="Enter Name"><br><br>
            <input type="password" name="pass" placeholder="Enter password"></br><br>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}